@page "/"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Lycee</PageTitle>

<div class="container">
    <h2 id="heading">Welcome To Lycee Management Application</h2>
    <div class="buttons">
        <button type="submit" class="btn btn-primary" @onclick="Login">Login</button>
        <button type="submit" class="btn btn-primary" @onclick="SignUp">Sing Up</button>
    </div>
</div>
@code {
    private void Login()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void SignUp()
    {
        NavigationManager.NavigateTo("/register");
    }
}
