@page "/login"
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavigationManager
@using user_service.Models
@inject HttpClient HttpClient
@inject StorageService storage



<PageTitle>Login</PageTitle>


<EditForm Model="model" id="login-form">
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Login</span>
            </div>

           
            <div class="input_box">
                <label class="label" for="Email">Email</label>
                <InputText type="text" id="Email" class="input-field" @bind-Value="model.Email" required />
            </div>

            <div class="input_box">
                <button class="input-submit" @onclick="SendOTP">Sent Otp</button>
            </div>
            @if (!string.IsNullOrEmpty(loginMessage))
            {
                <div class="alert alert-danger mt-3">@loginMessage</div>
            }
            
        </div>
       
    </div>
</EditForm>

@code {
   
    private Model model = new Model();
    public string loginMessage { get; set; }

    private async Task SendOTP()
    {
        
        storage.GlobalLogin = model.Email;
       
        var encodedEmail = Uri.EscapeDataString(model.Email);
        var url = $"https://localhost:7128/Api/SendOtpForLogin?email={encodedEmail}";
        var response = await HttpClient.PostAsJsonAsync(url, model.Email);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/validateLogin");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            loginMessage = "Email not exists please register first.";

        }
        else
        {
            loginMessage = "Invalid Email";
        }
    
        }
}
