@page "/validateLogin"
@using System.Net.Http.Json
@using System.Net.Http
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavigationManager
@using user_service.Models;
@inject StorageService storage

<PageTitle>Validate OTP For Login</PageTitle>

<EditForm id="login-form" Model="model">
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span id="Register">Validate Login</span>
            </div>
            <div class="input_box">
                <label class="label" for="Email"></label>
                <InputText type="text" id="otp" class="input-field" @bind-Value="model.emailforlogin" readonly />
            </div>

            <!-- OTP from User -->
            <div class="input_box">
                <label class="label" for="otp">Enter OTP</label>
                <InputText type="text" id="otp" class="input-field" @bind-Value="model.OTP" required />
            </div>
            @if (!string.IsNullOrEmpty(otpMessage))
            {
                <div class="alert alert-danger mt-3">@otpMessage</div>
            }

            <!-- Submit Button -->
            <div class="input_box">
                <button class="input-submit" @onclick="Validate">Login</button>
            </div>
        </div>
      
    </div>
</EditForm>

@code {
    // private string OTP = "";
    private Model model = new Model();
    private string otpMessage { get; set; }
    protected override void OnInitialized()
    {
        model.emailforlogin = storage.GlobalLogin;
    }

    private async Task Validate()
    {
        var payload = new 
        {
            enteredotp = model.OTP,
            emailforlogin = model.emailforlogin
        };

        var response = await Http.PostAsJsonAsync("https://localhost:7128/Api/ValidateOtpForLogin", payload);
        if (response.IsSuccessStatusCode)
        {
            otpMessage = "Validated";
            NavigationManager.NavigateTo("/welcomeuser");
            
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            otpMessage = "Invalid OTP";

        }
        else
        {
            otpMessage = "Internal Server Error";
        }
    
    }
}
