@page "/validateEmail"
@using System.Net.Http.Json
@using System.Net.Http
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavigationManager
@using user_service.Models;
@inject EmailService EmailService

<h3>Validate OTP For Email</h3>

<EditForm Model="model" id="login-form">
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span id="Register">Validate Email</span>
            </div>

            <!-- OTP from User -->
            <div class="input_box">
                <label class="label" for="Email"></label>
                <InputText type="text" id="otp" class="input-field" @bind-Value="model.emailforval" readonly />
            </div>
            <div class="input_box">
                <label class="label" for="otp">Enter OTP</label>
                <InputText type="text" id="otp" class="input-field" @bind-Value="model.OTP" required />
            </div>

            <!-- Submit Button -->
            <div class="input_box">
                <button class="input-submit" @onclick="Validate">Validate</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
        // private string OTP = "";
    private Model model = new Model();
    // public string OTP = "";
    protected override void OnInitialized()
    {
        model.emailforval = EmailService.GlobalEmail;
    }


    private async Task Validate()
    {
        var payload = new
        {
            OTP = model.OTP,
            emailforval = model.emailforval
        };
        // OTP = model.OTP;
        //  OTP = model.OTP;
        //string userEmail = await StorageService.GetItem("UserEmail");
        //OTP = await StorageService.GetItem("OTP");
        // Validate OTP logic here using HttpClient
        var response = await Http.PostAsJsonAsync("https://localhost:7128/api/Email/validateotp", payload);

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/login");
        }
        // var responseContent = await response.Content.ReadAsStringAsync();

        // if (responseContent == "Email validated.")
        
        //Console.WriteLine("Email Validated");
       
    //    }
      //  }
        //else
        //{
        //Console.WriteLine(response.StatusCode);
        //} 
    }
}
