table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 2px solid black;
    border-radius: 2px;
    padding: 8px;
    text-align: center;
}
a {
    cursor: pointer;
    text-decoration: underline;
}

