@page "/welcome"
@using Microsoft.AspNetCore.Components.Web
@using user_service.Models;

<h2>Welcome</h2>

<div>
    
    <p><strong>Name:</strong> @model.RegName</p>
    <p><strong>Phone Number:</strong> @model.RegPhone</p>
    <p><strong>Designation:</strong> @model.RegDest</p>
    <p><strong>Email:</strong> @model.Email</p>
</div>
@code{
    private Model model = new Model();
}