@page "/welcomeuser"
@inject NavigationManager Navigation
@inject HttpClient HttpClient
@using user_service.Models;
 
    <PageTitle>User Home Page</PageTitle>
 
    <h1>Welcome,!</h1>
 
    <button type="submit" class="btn btn-success" @onclick="NewSchool">Add Institution</button>
    <br>
    <br>
 
    <table class="table">
    <thead>
    <tr>
    <th>School Code</th>
    <th>Institution Name</th>
    </tr>
    </thead>
    <tbody>
            @foreach (var schoolDetail in schoolDetails)
            {
    <tr>
   @*  <td><a @onclick="(() => SchoolDetails(schoolDetail.SchoolCode))">@schoolDetail.SchoolCode</a></td> *@
                    
    <td>@schoolDetail.InstitutionName</td>
    </tr>
            }
    </tbody>
    </table>
@code {
 
    private void NewSchool()
    {
        Navigation.NavigateTo("/add_School");
    }
 
    private List<Institution> schoolDetails = new List<Institution>();
 
    protected override async Task OnInitializedAsync()
    {
    
            schoolDetails = await HttpClient.GetFromJsonAsync<List<Institution>>("https://localhost:7128/api/Institution/api/institution/all");
 
    }
 
    private async Task SchoolDetails(string schoolCode)
    {
        
        Navigation.NavigateTo($"/institutionDetails/{schoolCode}");
    }
}


<Welcome />